@charset "UTF-8";
* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1A1E2B;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  color: aliceblue;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: bold;
  margin: 4px auto;
}

.game-area {
  width: 100%;
  height: 94vh;
  background-image: url("../Images/background.jpg");
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card {
  width: 160px;
  border-radius: 5px;
  background-color: #009DFF;
  position: absolute;
  cursor: move;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px #1A1E2B;
          box-shadow: 0 0 10px #1A1E2B;
}

.card.selected {
  -webkit-box-shadow: 0 0 15px #009DFF;
          box-shadow: 0 0 15px #009DFF;
  z-index: 1000 !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.deck {
  width: 60px;
  background-color: #007bff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.deck:hover {
  background-color: #0056b3;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

button:hover {
  background-color: #0056b3;
}

.card-back {
  background-image: url("./Images/Cartas/Costas.png");
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loadingStatus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  /* Fundo semi-transparente */
  backdrop-filter: blur(10px);
  /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* Para compatibilidade com Safari */
  -webkit-filter: contrast(0.9);
          filter: contrast(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

/* Estilos para o overlay e modal de seleção de deck */
.multi-select-mode {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  /* Fundo semi-transparente */
  backdrop-filter: blur(10px);
  /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* Para compatibilidade com Safari */
  -webkit-filter: contrast(0.9);
          filter: contrast(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.deck-selector-modal {
  background-color: #1A1E2B;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.deck-selector-modal h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.decks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.deck-option-img {
  width: 24%;
  border: 2px solid transparent;
  border-color: #007bff;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.deck-option-img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.deck-option-img.selected {
  border-color: #1eff00;
  background-color: rgba(76, 175, 80, 0.1);
}

.confirm-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #009DFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.confirm-button:hover:not([disabled]) {
  background-color: #007bff;
}

.confirm-button:disabled {
  background-color: #007bff;
  cursor: not-allowed;
}
/*# sourceMappingURL=style.css.map */